*{
    margin: 0px;
    padding: 0;
}

body{
    margin-top: 8%;
}

header, main{
    background: #612966;
    width: 50%;
    margin-left: 25%;
    padding-bottom: 5%;
}


header{
    padding-top: 10%;
}

header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #fff;
}

button{
    color: #fff;
    background-color: blueviolet;
    width: 80px;
    height: 30px;
    margin-top: 5px;
    border-radius: 10%;
    outline: none;
    border: none;
    text-transform: uppercase;
    margin: 10px;
}

button:hover{
    transform: scale(1.1);
}